div#n2-ss-6 .n2-ss-slider-1 {
    display: grid;
    position: relative;
}

div#n2-ss-6 .n2-ss-slider-2 {
    display: grid;
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border: 0px solid RGBA(62, 62, 62, 1);
    border-radius: 0px;
    background-clip: padding-box;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    z-index: 1;
}

div#n2-ss-6:not(.n2-ss-loaded) .n2-ss-slider-2 {
    background-image: none !important;
}

div#n2-ss-6 .n2-ss-slider-3 {
    display: grid;
    grid-template-areas: 'cover';
    position: relative;
    overflow: hidden;
    z-index: 10;
}

div#n2-ss-6 .n2-ss-slider-3>* {
    grid-area: cover;
}

div#n2-ss-6 .n2-ss-slide-backgrounds,
div#n2-ss-6 .n2-ss-slider-3>.n2-ss-divider {
    position: relative;
}

div#n2-ss-6 .n2-ss-slide-backgrounds {
    z-index: 10;
}

div#n2-ss-6 .n2-ss-slide-backgrounds>* {
    overflow: hidden;
}

div#n2-ss-6 .n2-ss-slide-background {
    transform: translateX(-100000px);
}

div#n2-ss-6 .n2-ss-slider-4 {
    place-self: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: grid;
    grid-template-areas: 'slide';
}

div#n2-ss-6 .n2-ss-slider-4>* {
    grid-area: slide;
}

div#n2-ss-6.n2-ss-full-page--constrain-ratio .n2-ss-slider-4 {
    height: auto;
}

div#n2-ss-6 .n2-ss-slide {
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    position: relative;
    z-index: 20;
    -webkit-backface-visibility: hidden;
    transform: translateX(-100000px);
}

div#n2-ss-6 .n2-ss-slide {
    perspective: 1500px;
}

div#n2-ss-6 .n2-ss-slide-active {
    z-index: 21;
}

.n2-ss-background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#n2-ss-6 .nextend-arrow {
    cursor: pointer;
    overflow: hidden;
    line-height: 0 !important;
    z-index: 18;
}

div#n2-ss-6 .nextend-arrow img {
    position: relative;
    display: block;
}

div#n2-ss-6 .nextend-arrow img.n2-arrow-hover-img {
    display: none;
}

div#n2-ss-6 .nextend-arrow:HOVER img.n2-arrow-hover-img {
    display: inline;
}

div#n2-ss-6 .nextend-arrow:HOVER img.n2-arrow-normal-img {
    display: none;
}

div#n2-ss-6 .nextend-arrow-animated {
    overflow: hidden;
}

div#n2-ss-6 .nextend-arrow-animated>div {
    position: relative;
}

div#n2-ss-6 .nextend-arrow-animated .n2-active {
    position: absolute;
}

div#n2-ss-6 .nextend-arrow-animated-fade {
    transition: background 0.3s, opacity 0.4s;
}

div#n2-ss-6 .nextend-arrow-animated-horizontal>div {
    transition: all 0.4s;
    transform: none;
}

div#n2-ss-6 .nextend-arrow-animated-horizontal .n2-active {
    top: 0;
}

div#n2-ss-6 .nextend-arrow-previous.nextend-arrow-animated-horizontal .n2-active {
    left: 100%;
}

div#n2-ss-6 .nextend-arrow-next.nextend-arrow-animated-horizontal .n2-active {
    right: 100%;
}

div#n2-ss-6 .nextend-arrow-previous.nextend-arrow-animated-horizontal:HOVER>div,
div#n2-ss-6 .nextend-arrow-previous.nextend-arrow-animated-horizontal:FOCUS>div {
    transform: translateX(-100%);
}

div#n2-ss-6 .nextend-arrow-next.nextend-arrow-animated-horizontal:HOVER>div,
div#n2-ss-6 .nextend-arrow-next.nextend-arrow-animated-horizontal:FOCUS>div {
    transform: translateX(100%);
}

div#n2-ss-6 .nextend-arrow-animated-vertical>div {
    transition: all 0.4s;
    transform: none;
}

div#n2-ss-6 .nextend-arrow-animated-vertical .n2-active {
    left: 0;
}

div#n2-ss-6 .nextend-arrow-previous.nextend-arrow-animated-vertical .n2-active {
    top: 100%;
}

div#n2-ss-6 .nextend-arrow-next.nextend-arrow-animated-vertical .n2-active {
    bottom: 100%;
}

div#n2-ss-6 .nextend-arrow-previous.nextend-arrow-animated-vertical:HOVER>div,
div#n2-ss-6 .nextend-arrow-previous.nextend-arrow-animated-vertical:FOCUS>div {
    transform: translateY(-100%);
}

div#n2-ss-6 .nextend-arrow-next.nextend-arrow-animated-vertical:HOVER>div,
div#n2-ss-6 .nextend-arrow-next.nextend-arrow-animated-vertical:FOCUS>div {
    transform: translateY(100%);
}

div#n2-ss-6 .nextend-thumbnail {
    flex: 0 0 auto;
    overflow: hidden;
}

div#n2-ss-6 .nextend-thumbnail-default {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

div#n2-ss-6 .nextend-thumbnail-inner {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

div#n2-ss-6 .nextend-thumbnail-inner::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

div#n2-ss-6 .nextend-thumbnail-button {
    position: absolute;
    display: grid;
    place-content: center;
    transition: all 0.4s;
    cursor: pointer;
    visibility: hidden;
}

div#n2-ss-6 .nextend-thumbnail-button * {
    visibility: visible;
}

div#n2-ss-6 .nextend-thumbnail-scroller {
    display: grid;
}

div#n2-ss-6 .n2-thumbnail-dot {
    position: relative;
}

div#n2-ss-6 .n2-thumbnail-dot img {
    object-fit: cover;
    max-width: none;
}

div#n2-ss-6 .n2-caption-before {
    order: -1;
}

div#n2-ss-6 .n2-caption-overlay {
    position: absolute;
    box-sizing: border-box;
    display: grid;
    place-content: center;
}

div#n2-ss-6 .n2-thumbnail-dot-type {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

div#n2-ss-6 .nextend-thumbnail-vertical .nextend-thumbnail-scroller {
    min-height: 100%;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
}

div#n2-ss-6 .nextend-thumbnail-vertical .n2-align-content-start {
    align-content: flex-start;
}

div#n2-ss-6 .nextend-thumbnail-vertical .n2-align-content-center {
    align-content: center;
}

div#n2-ss-6 .nextend-thumbnail-vertical .n2-align-content-end {
    align-content: flex-end;
}

div#n2-ss-6 .nextend-thumbnail-vertical .n2-align-content-space-between {
    align-content: space-between;
}

div#n2-ss-6 .nextend-thumbnail-vertical .n2-align-content-space-around {
    align-content: space-around;
}

div#n2-ss-6 .nextend-thumbnail-vertical .nextend-thumbnail-inner {
    overflow-y: scroll;
}

div#n2-ss-6 .nextend-thumbnail-vertical .n2-thumbnail-dot {
    display: grid;
    grid-template-columns: auto 1fr;
}

div#n2-ss-6 .nextend-thumbnail-vertical .nextend-thumbnail-button {
    width: 100%;
}

div#n2-ss-6 .nextend-thumbnail-vertical .nextend-thumbnail-previous {
    top: 10px;
}

div#n2-ss-6 .nextend-thumbnail-vertical[data-has-previous="0"] .nextend-thumbnail-previous {
    transform: translateY(min(-100px, calc(-110%)));
    opacity: 0;
}

div#n2-ss-6 .nextend-thumbnail-vertical .nextend-thumbnail-next {
    bottom: 10px;
}

div#n2-ss-6 .nextend-thumbnail-vertical[data-has-next="0"] .nextend-thumbnail-next {
    transform: translateY(max(100px, calc(110%)));
    opacity: 0;
}

div#n2-ss-6 .nextend-thumbnail-horizontal {
    flex-direction: row;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .nextend-thumbnail-inner {
    overflow-x: scroll;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .nextend-thumbnail-scroller {
    min-width: 100%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .n2-align-content-start {
    justify-content: space-evenly;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .n2-align-content-center {
    justify-content: center;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .n2-align-content-end {
    justify-content: flex-end;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .n2-align-content-space-between {
    justify-content: space-between;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .n2-align-content-space-around {
    justify-content: space-around;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .n2-thumbnail-dot {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .nextend-thumbnail-button {
    height: 100%;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .nextend-thumbnail-previous {
    left: 10px;
    transform: rotateZ(-90deg);
}

div#n2-ss-6 .nextend-thumbnail-horizontal[data-has-previous="0"] .nextend-thumbnail-previous {
    transform: translateX(min(-100px, calc(-110%))) rotateZ(-90deg);
    opacity: 0;
}

div#n2-ss-6 .nextend-thumbnail-horizontal .nextend-thumbnail-next {
    right: 10px;
    transform: rotateZ(-90deg);
}

div#n2-ss-6 .nextend-thumbnail-horizontal[data-has-next="0"] .nextend-thumbnail-next {
    transform: translateX(max(100px, calc(110%))) rotateZ(-90deg);
    opacity: 0;
}

div#n2-ss-6 .n2-style-df32cb3742fdac43eb0251df7d67c185-simple {
    background: #242424;
    opacity: 1;
    padding: 3px 3px 3px 3px;
    box-shadow: none;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    border-color: RGBA(0, 0, 0, 1);
    border-radius: 0px;
}

div#n2-ss-6 .n2-style-67eb3c604afd812b9014e8165a592b43-dot {
    background: RGBA(0, 0, 0, 0);
    opacity: 0.4;
    padding: 0px 0px 0px 0px;
    box-shadow: none;
    border-width: 0px;
    border-style: solid;
    border-color: #ffffff;
    border-color: RGBA(255, 255, 255, 0);
    border-radius: 0px;
    margin: 3px;
    transition: all 0.4s;
    background-size: cover;
}

div#n2-ss-6 .n2-style-67eb3c604afd812b9014e8165a592b43-dot.n2-active,
div#n2-ss-6 .n2-style-67eb3c604afd812b9014e8165a592b43-dot:HOVER,
div#n2-ss-6 .n2-style-67eb3c604afd812b9014e8165a592b43-dot:FOCUS {
    border-width: 0px;
    border-style: solid;
    border-color: #ffffff;
    border-color: RGBA(255, 255, 255, 0.8);
    opacity: 1;
}

div#n2-ss-6 .n-uc-tBbIlHd54QAR {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-OQkLZuBtu1ay {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-Na6YGuH4DfVI {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-R5b0NDExdkwa {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-6gr2j70Q624K {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-9BCtE995oPkm {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-rYWZxQDU0wgW {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-QFohEIDKDnea {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-Y3gIGslXdf71 {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .n-uc-3uwitCvleyYD {
    padding: 0px 0px 0px 0px
}

div#n2-ss-6 .nextend-arrow img {
    width: 32px
}

div#n2-ss-6 .n2-thumbnail-dot img {
    width: 120px;
    height: 80px
}

@media (min-width: 1200px) {
    div#n2-ss-6 [data-hide-desktopportrait="1"] {
        display: none !important;
    }
}

@media (orientation: landscape) and (max-width: 1199px) and (min-width: 901px),
(orientation: portrait) and (max-width: 1199px) and (min-width: 701px) {
    div#n2-ss-6 [data-hide-tabletportrait="1"] {
        display: none !important;
    }
}

@media (orientation: landscape) and (max-width: 900px),
(orientation: portrait) and (max-width: 700px) {
    div#n2-ss-6 [data-hide-mobileportrait="1"] {
        display: none !important;
    }

    div#n2-ss-6 .nextend-arrow img {
        width: 16px
    }
}